/* Create student input field */
#customButton {
    position: relative;
    /* This is required to center the button */
    left: 2%;
    margin-top: -5px;
    text-align: center;
    /* Center the button horizontally */
    vertical-align: middle;
    /* Center the button vertically */
    border: none !important;
    background-color: #26bd88 !important;
}

/* Show entry dropdown */
select[name="dtBasicExample_length"],
input[type="search"] {
    border: none !important;
    border-bottom: 1px solid black !important;
    outline: none !important;
    background: none;
}

/* ============================
          card container 
     ============================*/
.card-container {
    border-radius: 30px;
}

/* ============================
      Datatable - Custom Styles 
     ============================ */
tr th,
td {
    border: none !important;
}

th {
    background-color: rgb(142, 202, 202) !important;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    width: auto;
    height: 35px;
}

th:last-child {
    width: 150px;
}

.stud_Name {
    width: 180px !important;
}

.course {
    width: 200px !important;
}

.cd {
    width: 160px !important;
}

.status {
    font-size: 12px;
    border-radius: 20px;
}

td {
    height: 40px !important;
}

/* ============================
      Styles for Custom Search 
     ============================ */
table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
}

table th.stud_Name,
table th.w-10 {
    position: relative;
    cursor: pointer;
}

table th.stud_Name:hover .search-box-container,
table th.w-10:hover .search-box-container {
    display: block;
    position: absolute;
    top: -36px;
    /* adjust this value to position the search box above the table header */
    left: 0;
    z-index: 1;
}

.search-box-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search-box-container input[type=text] {
    width: 100%;
    padding: 6px 12px;
    border: none;
    border-radius: 0;
    box-sizing: border-box;
}

/* ===========================
      Edit & Delete buttons
     =========================== */
.edit-btn,
.delete-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    background: none !important;
}

.edit-btn {
    color: rgb(2, 138, 2);
}

.delete-btn {
    color: rgb(238, 34, 34);
}

/* ===========================
        DATATABLE PAGIANTION
     ============================ */
/* Pagiantion buttons */
.paginate_button {
    background-color: #97cfc8 !important;
}

/* to hide the ellipsis */
.dataTables_wrapper .dataTables_paginate .ellipsis {
    display: none !important;
    margin-right: 0 !important;
}

/* to NaN button after ellipsis*/
.paginate_button[data-dt-idx="6"] {
    display: none !important;
}